## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Whonix legacy versions fixes
Before=qubes-gui-agent.service
After=qubes-mount-dirs.service
After=qubes-mount-home.service

## Legacy Qubes pre R3.1.
## We need to wait until qubes-whonix-postinit.service is done, since
## /usr/lib/qubes-whonix/bind-directories is still run by
## qubes-whonix-postinit.service. - https://phabricator.whonix.org/T414
After=qubes-whonix-postinit.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/whonix-legacy/fixes

[Install]
WantedBy=multi-user.target
