## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=Derivative Distribution Legacy Versions Fixes
Documentation=https://github.com/Whonix/legacy-dist

Before=qubes-gui-agent.service

## For tor_control_panel_migration.
## I.e. for 40_anon_connection_wizard.conf
## -> 40_tor_control_panel.conf.
Before=tor-control-panel.service
Before=anon-gw-anonymizer-config.service

After=qubes-mount-dirs.service

## Legacy.
After=qubes-mount-home.service

## Legacy Qubes pre R3.1.
## We need to wait until qubes-whonix-postinit.service is done, since
## /usr/lib/qubes-whonix/bind-directories is still run by
## qubes-whonix-postinit.service. - https://phabricator.whonix.org/T414
After=qubes-whonix-postinit.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/legacy-dist/fixes

[Install]
WantedBy=multi-user.target
